:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  font-size: 1.6rem;

  margin: 0;
  padding: 0;
}

.navbar {
  margin-inline: auto;
  height: 3rem;
  background-color: lightgray;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .nav-link{
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.menu{
    display: none;
}

@media only screen and (max-width: 767px) {
    .menu{
        display: inline-block;
        position: relative;
        right: -30vw;
        margin-inline: auto;
    }

    .menu-content{
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        z-index: 1;
    }

    .menu-content a{
        color: white;
        text-decoration: none;
        padding: 1rem;
        display: block;
        text-align: center;
    }

    .menu-content a:hover{
        color: black;
        background-color: white;
    }

    .menu:hover .menu-content{
        display: block;
    }

    .menu:hover .menu-btn{
        background-color: lightgray;
    }

    .menu-btn img{
        width: 1rem;
        border: none;
    }
}

/* boxes */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  width: 30rem;
  margin-inline: auto;
  padding: 1rem 1rem;

  background-color: hsl(160, 30%, 75%);
  border: 1px solid black;
}

.box-title {
  position: relative;
  left: 20.92rem;
  bottom: 1.07rem;
  border: 1px solid black;
  width: 10rem;
  height: 3rem;
}

.box-title p {
  position: relative;

  text-align: right;
  bottom: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

h1 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 5rem;
}

.p1 {
  background-color: hsl(0, 30%, 50%);
}

.p2 {
  background-color: hsl(271, 30%, 53%);
}

.p3 {
  background-color: hsl(90, 30%, 50%);
}

.box p:nth-child(2) {
  text-align: justify;
}
